<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAK</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>key</key>
			<string>enabledBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHORTCUTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>configuration</key>
			<string>top</string>
			<key>detail</key>
			<string>DXPManageShortcutsController</string>
			<key>label</key>
			<string>顶部设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>configuration</key>
			<string>bottom</string>
			<key>detail</key>
			<string>DXPManageShortcutsController</string>
			<key>label</key>
			<string>底部设置</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>key</key>
			<string>hapticBOOL</string>
			<key>label</key>
			<string>HAPTIC</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>key</key>
			<string>shakeBOOL</string>
			<key>label</key>
			<string>SHAKE_SHORTCUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_SHORTCUT_NUM</string>
			<key>label</key>
			<string>顶部快捷数量</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>6</string>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>topmodeselection</string>
			<key>key</key>
			<string>topshortcutsnum</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>底部快捷数量</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>6</string>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>modeselection</string>
			<key>key</key>
			<string>shortcutsnum</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_DISPLAY_STYLE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>shortLabelBOOL</string>
			<key>validTitles</key>
			<array>
				<string>ICON</string>
				<string>TEXT</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_DOCK_MODE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>dockmodeselection</string>
			<key>key</key>
			<string>dockmode</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>DICTATION_ONLY</string>
				<string>GLOBE_ONLY</string>
				<string>NONE</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPMENT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donation</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTACT</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>TWITTER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Reddit.png</string>
			<key>label</key>
			<string>REDDIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FOOTER_CREATED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FOOTER_CREDITS</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeX</string>
</dict>
</plist>
