<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAK</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>key</key>
			<string>enabledBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHORTCUTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>configuration</key>
			<string>top</string>
			<key>detail</key>
			<string>DXPManageShortcutsController</string>
			<key>label</key>
			<string>顶部设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>configuration</key>
			<string>bottom</string>
			<key>detail</key>
			<string>DXPManageShortcutsController</string>
			<key>label</key>
			<string>底部设置</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>key</key>
			<string>hapticBOOL</string>
			<key>label</key>
			<string>HAPTIC</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_DOCK_MODE</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lindo.typex/prefschanged</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lindo.typex</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>dockmodeselection</string>
			<key>key</key>
			<string>dockmode</string>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>DICTATION_ONLY</string>
				<string>GLOBE_ONLY</string>
				<string>NONE</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FOOTER_CREDITS</string>
		</dict>
	</array>
	<key>title</key>
	<string>TypeX</string>
</dict>
</plist>
