Package: com.lindo.typex
Name: TypeX
Depends: mobilesubstrate, preferenceloader, firmware(>=14.0)
Version: 2.7.68
Architecture: iphoneos-arm64
Description: TypeX 是一款可自定义键盘快捷操作栏的ios插件.
Maintainer: lindo
Author: lindo
Section: Tweaks
Conflicts: com.restiveconch.actionbar,com.udevs.dockx,com.lindo.dockx
Icon: https://udevsharold.github.io/repo/depictions/com.lindo.typex/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.lindo.typex
