Package: com.lindo.typex
Name: TypeX
Depends: mobilesubstrate, preferenceloader, firmware(>=14.0)
Version: 2.7.36
Architecture: iphoneos-arm
Description: Configurable shortcuts for the keyboard dock.
Maintainer: lindo
Author: lindo
Section: Tweaks
Conflicts: com.restiveconch.actionbar,com.udevs.dockx,com.lindo.dockx
Icon: https://udevsharold.github.io/repo/depictions/com.lindo.typex/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.lindo.typex
